@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

html{
  background-color: #232222;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  padding-left: 5px;
  padding-bottom: 10px;
  color: rgb(216, 216, 216);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at center, #434242, #343232)
}

nav{
  background: radial-gradient(circle at center, #1a1a1a, #1f1d1d);
  border-bottom: 5px solid #232222;
  border-top: 3px solid #232222;
  justify-content: flex-end;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: -5px;
}

nav a{
  text-decoration: none;
  -webkit-text-stroke: 1px #cdcfd1;
  font-size: x-large;
  color: aliceblue;
  font-family: 'Space Grotesk', sans-serif;
  padding: 0 78px
}

nav a:hover{
  color: rgba(240, 248, 255, 0.352);
  -webkit-text-stroke: 1px rgba(240, 248, 255, 0.352);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
